/* Desktop CSS | Bigger than 900 pixels */
@media screen and (min-width: 600px) {

    .Panel {
        width: 50%;
    }
    
    #AboutPanel {
        margin-top: 15vh;
        font-weight: normal;
        text-align: center;
    }

    #imageid {
        width: 30vw;
        margin-top: 20vh;
    }

    #profileimage {
        border-radius: 100%;
        width: 20vw;
    }

}

@media screen and (max-width: 600px) {

}