@media screen and (min-width: 500px) {
    .ToggleNav {
        display: none;
      }
}

@media screen and (max-width: 500px) {
    .ToggleNav {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        background-color: #262626;
        height: 7vh;
        width: 100%;
        text-align: right;
      }

      .ToggleNav button {
        background-color: rgba(255, 255, 255, 0);
        color: white;
        font-size: 3em;
        border: none;
        position: relative;
        left: 30px;
        bottom: 10px;
      }
}