/* Desktop CSS | Bigger than 900 pixels */
@media screen and (min-width: 600px) {

    .ProjectCard {
        width: 20vw;
        height: auto;
        min-width: 230px;
        max-width: 250px;
        box-shadow: 1px 1px 15px 0px black;
        border-radius: 20px;
        text-align: center;
        margin: 15px;
        padding: 10px;
        background-color: rgb(255, 255, 255, .05);
    }
    
    a {
        text-decoration: none;
        color: white;
    }
    
    :hover.ProjectCard {
        box-shadow: 1px 1px 20px 1px black;
        background-color: rgb(255, 255, 255, .07);
        transition: .3s;
    }
    
    .icon {
        display: inline-block;
        margin: 10px;
    }
    
    }
        
    @media screen and (max-width: 600px) {
    
    }