/* Desktop CSS | Bigger than 900 pixels */

.ProjectCard {
    width: 20vw;
    height: auto;
    min-width: 250px;
    max-width: 300px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 0px black;
    text-align: center;
    margin: 20px;
    padding: 10px;
    background-color: rgb(255, 255, 255, .03);
    transition: .35s;
}

a {
    text-decoration: none;
    color: white;
}

:hover.ProjectCard {
    box-shadow: 1px 1px 15px 0px rgba(0, 0, 0, 0.5);
    background-color: rgb(255, 255, 255, .05);
}

.colorBar {
    height: 10px;
    width: auto;
}

@media screen and (min-width: 600px) {
    .iconList {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .icon {
        margin: 10px;
    }
}
        
@media screen and (max-width: 600px) {
    .icon {
        display: inline-block;
        margin: 5px;
    }
}