@media screen and (min-width: 500px) {
    .main {
        margin-top: -30px;
        flex: 1;
    }
}

@media screen and (max-width: 500px) {
    .main {
        width: 90%;
        margin-left: auto;
        margin-right: auto;        
    }
}