@media screen and (min-width: 500px) {

    .Sidebar {
        width: 25%;
        min-width: 300px;
        max-width: 360px;
        height: 100vh;
        text-align: center;
        position: sticky;
        top: 0;
    }

    #profile-picture {
        width: 30%;
        min-width: 200px;
        max-width: 300px;
        border-radius: 100%;
        margin-top: 50px;
    }

    div.container {
        display: flex;
        margin-right: 20%;
        margin-left: 20%;
        justify-content: space-evenly;
        width: 60%;
        position: absolute;
        bottom: 90px;
    }

    div.container a {
        width: 30px;
    }

    .SidebarNav{
        list-style: none;
        text-align: left;
        margin-top: 30px;
        margin-top: 20px;
        margin-left: 10%;
        padding-left:0;
    }

    .SidebarNavRow {
        position: relative;
        width: fit-content;
        cursor: pointer;
        margin-bottom: 10px;
    }

    .SidebarNavRow::before {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 3px;
        bottom: -1px;
        left: 0;
        transform-origin: bottom left;
        transition: .3s;
        background-color: var(--color-foreground);
    }
    
    .SidebarNavRow:hover::before {
        transform: scaleX(1);
        transform-origin: bottom left;
    }

    .code {
        color: var(--color-foreground);
        font-size: 2em;
        position: fixed;
        bottom: 20px;
        transform: translate(-50%, 0);
        transition: .5s;
    }

    .bi {
        color: var(--color-foreground);
        font-size: 1.75em;
        transition: .5s;
    }

    .bi:hover {
        color: gray;
    }

    .link {
        color: var(--color-foreground);
        transition: .5s;
    }

    .profilepicture {
        box-shadow: 0px 0px 10px 0px #2626267e;
    }

    .title {
        margin-left: 10%;
        text-align: left;
        margin-bottom: 0;
    }

    .subtitle {
        text-align: left;
        margin-left: 10%;
        margin-top: 0;
    }



}

@media screen and (max-width: 500px) {
  
  .Sidebar {
    display: none;
  }
  
//   div#container * {
//     width: 30px;
//     margin-left: 10px;
//     margin-right: 10px;
//     filter:opacity(.9);
//     position: relative;
//     z-index: -1
//   }

}