@media screen and (min-width: 500px) {

    .Sidebar {
        background-color: #262626;
        width: 25%;
        min-width: 300px;
        max-width: 360px;
        height: 100%;
        text-align: center;
        position: fixed;
    }

    .SidebarNav{
        list-style: none;
        text-align: left;
        margin-top: 30px;
        margin-top: 20px;
        margin-left: 15%;
    }
  
    .SidebarNavRow {
        margin-bottom: 7px;
        position: relative;
        width: fit-content;
        cursor: pointer;
    }
  
    .SidebarNavRow::before {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 3px;
        bottom: -1px;
        left: 0;
        background-color: white;
        transform-origin: bottom left;
        transition: .3s;
    }
    
    .SidebarNavRow:hover::before {
        transform: scaleX(1);
        transform-origin: bottom left;
    }

    #profile-picture {
        width: 30%;
        min-width: 200px;
        max-width: 300px;
        border-radius: 100%;
        margin-top: 50px;
    }

    div#container {
        display: flex;
        margin-right: auto;
        margin-left: auto;
        width: 40%;
    }
    div#container * {
        width: 30px;
        margin-left: auto;
        margin-right: auto;
    }

    #code {
        width: 60px;
        position: fixed;
        bottom: 20px;
        transform: translate(-50%, 0);
    }
}

@media screen and (max-width: 500px) {
  
  .Sidebar {
    display: none;
  }
  
  div#container * {
    width: 30px;
    margin-left: 10px;
    margin-right: 10px;
    filter:opacity(.9);
    position: relative;
    z-index: -1
  }

}