@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

@media screen and (min-width: 480px) {
  
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    font-family: 'Space Mono', 'Arial';
    font-weight: lighter;
    background-color: var(--color-background);
    color: var(--color-foreground);
  }

  .app {
    display: flex;
    height: auto;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

}

@media screen and (max-width: 480px) {

  body {
    margin: 0;
    font-family: 'Arial';
    color: var(--color-foreground);
    text-align: center;
    scroll-behavior: smooth;
    background-color: var(--color-background);
    
  }

}

body {
  --color-background: #fafafa;
  --color-foreground: #262626;
  transition: .5s;
}

body.dark {
  --color-background: #262626;
  --color-foreground: #fafafa;
  transition: .5s;
}