@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

.app, body {
    margin: 0;
    padding: 0;
}

html {
    background-color: #222429;
    font-family: 'Space Mono', monospace;
    color: #F1DDBF;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.panelrow {
    width: 86%;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
    display: flex;
}

h1 {
    font-size: 3.5em;
}

p {
    font-size: 1.2em;
}