/* Desktop CSS | Bigger than 900 pixels */
@media screen and (min-width: 600px) {

.Portfolio {
    height: auto;
    min-height: 100vh;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

h1.PortfolioTitle {
    text-align: center;
    height: auto;
    display: block;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

}

@media screen and (max-width: 600px) {

}